<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">My Django App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/appdz1">Задание 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/appdz2">Задание 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">Новостная страница</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Новые новости (ДЗ4)
                    </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'newnews:news_home' %}">Главная</a></li> <!-- Главная страница -->
                    <li><a class="dropdown-item" href="{% url 'newnews:add_news' %}">Добавить новость</a></li> <!-- Страница создания новости -->
                </ul>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
